@function calculateRem($size) {
    $remSize: $size / 16;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: ($size * 1px);
    font-size: calculateRem($size);
}

$aoFont: "Ao Oz";
$grey: #3c4043;
$red: #ef4c4d;
$green: #7fba24;
html {
    font-size: 100%;
}

body {
    background-color: $grey;
}

#salesApp {
    text-align: center;
    color: white;
    line-height: 1;
}

#login {
    text-align: left;
    color: white;
    line-height: 1;
}

.login {
    h1 {
        font-family: $aoFont;
        @include font-size(50);
    }
}

.row {
    margin-bottom: 15px;
}

.headerPlayer {
    background-color: $grey;
    font-family: $aoFont;
    h1, h2 {
        font-weight: 600;
    }
    .playerName {
        @include font-size(40);
        color: #c6c6c8;
        margin-top: -15px;
        margin-bottom: 10px;
    }
    .rank {
        display: inline-block;
        position: relative;
        @include font-size(100);
        span {
            @include font-size(70);
        }
        .alertIcon {
            display: block;
            position: absolute;
            top: 0;
            right: -55px;
            i {
                position: relative;
                vertical-align: top;
                font-size: 40px;
                margin-top: 20px;
                color: $green;
                cursor: pointer;
                &:hover {
                    color: lighten($green, 10%);
                }
                #alertCount {
                    position: absolute;
                    width: 100%;
                    top: 10px;
                    font-family: $aoFont;
                    @include font-size(20);
                    font-weight: 400;
                    text-align: center;
                    color: inherit;
                }
            }
        }
    }
}

.podTitles {
    margin-bottom: 10px;
    font-family: arial;
    @include font-size(15);
}

.largeNumber {
    font-family: $aoFont;
    @include font-size(40);
    font-weight: 600;
    padding: 0;
}

.smallNumber {
    margin-bottom: 2px;
    font-family: $aoFont;
    @include font-size(15);
    font-weight: 600;
    text-align: right;
    padding: 0;
}

.red {
    background-color: $red;
    padding: 6px;
}

.green {
    background-color: $green;
    padding: 6px;
}

.team {
    margin-top: 100px;
}

.car {
    img {
        height: 100px;
        width: auto;
    }
}

.powerUps {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.powerLabel {
    margin-top: 15px;
    padding-right: 0;
    @include font-size(30);
    text-align: left;
}

.power {
    margin-left: -75px;
    list-style-type: none;
    li {
        display: inline-block;
        padding: 0;
        width: 80px;
        img {
            width: 100px;
            height: auto;
        }
    }
}