// AO DEFAULT FONT
@font-face {
    font-family: 'ozBold';
    src:url('../fonts/AoOz-Bold.eot?') format('eot'), url('../fonts/AoOz-Bold.woff') format('woff'), url('../fonts/AoOz-Bold.ttf') format('truetype'), url('../fonts/AoOz-Bold.svg') format('svg');        
    font-weight: normal;
    font-style: normal;
}


@function calculateRem($size) {
   $remSize: $size / 16;
   @return $remSize * 1rem;
}

@mixin font-size($size) {
   font-size: ($size * 1px);
   font-size: calculateRem($size);
}

$aoFont: "ozBold";

//$aoFont: "Ao Oz";
$grey: #3c4043;
$red: #ef4c4d;
$green: #7fba24;
html {
    font-size: 100%;
}

body {
    background-color: $grey;
}

#leaderApp {
    text-align: center;
    color: white;
    line-height: 1;
    .headerRow {
        margin-top: 15px;
        margin-bottom: 0 !important;
    }
    h1 {
        line-height: 0.9;
        color: inherit;
    }
    .row {
        margin-bottom: 20px;
    }
    .podTitles {
        margin-bottom: 10px;
        font-family: arial;
        @include font-size(15);
    }
    .largeNumber {
        margin-top: 5px;
        font-family: $aoFont;
        @include font-size(40);
        font-weight: 600;
        padding: 0;
    }
    .smallNumber {
        margin-bottom: 2px;
        font-family: $aoFont;
        @include font-size(20);
        font-weight: 600;
        text-align: right;
        padding: 0;
    }
    .red,
    .green {
        height: 80px;
    }
    .orange {
        padding-top: 10px;
        background-color: #3fc2bd;
        font-family: $aoFont;
        @include font-size(19);
        i {
            vertical-align: middle;
            @include font-size(16);
            display: inline-block;
            margin-top: -2px;
        }
        a {
            color: inherit;
            display: block;
            padding-bottom: 10px;
            &:hover {
                text-decoration: none;
            }
            div {
                display: inline-block;
                text-align: left;
                padding-left: 10px;
            }
        }
    }
    .car {
        img {
            height: auto;
            width: 100px;
            vertical-align: top;
            margin-top: -15px;
        }
        p {
            display: block;
            margin-top: 10px;
            font-family: $aoFont;
            @include font-size(16);
        }
    }
}